body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    height: 70px;
    width: 100%;
    text-align: center;
    top: 0;
    background: black;
}

header img {
    float: left;
    margin-top: 5px;
    border-radius: 40px;
}

header h1 {
    color: white;
    display: inline;
    position: absolute;
    left: 45%;
}

header nav {
    float: right;
    position: absolute;
    right: 0px;
    top: 33%;
    margin-right: 40px;
}

header nav li {
    float: left;
    margin-left: 20px;
    color: white;
}

header nav a {
    color: white;
}


#description {
    box-sizing: border-box;
    background-color: gainsboro;
    padding: 100px 60px 20px 60px;
    width: 100%;
}

#description img {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.description-p2 {
    clear: left;
}

#relationship {
    box-sizing: border-box;
    padding: 100px 60px 120px 60px;
}

#relationship img {
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    margin-top: 40px;
    background: gray;
    color: black;
    padding-top: 20px;
    text-align: center;
}
